.input1{
    position: absolute;
    width: 209px;
    height: 35px;
    left: 535px;
    top: 205px;
}

.input2{
    position: absolute;
    width: 209px;
    height: 35px;
    left: 535px;
    top: 259px;
}

.input3{
    position: absolute;
    width: 209px;
    height: 35px;
    left: 535px;
    top: 313px;
}

.input4{
    position: absolute;
    width: 209px;
    height: 35px;
    left: 535px;
    top: 367px;
}

.input5{
    position: absolute;
    width: 209px;
    height: 35px;
    left: 535px;
    top: 421px;
}

.input6{
    position: absolute;
    width: 209px;
    height: 35px;
    left: 535px;
    top: 475px;
}

.btCadastro{
    position: absolute;
    width: 89px;
    height: 35px;
    left: 653px;
    top: 529px;
}