<body background>
  <div txt>
    <h2 class="txtTitle1"> Onde Não Estou Seguro </h2>  <h2 class ="txtTitle2">?</h2>
    <h6 class="txtSubTitle1"> Aqui você poderá registrar ou verificar os bairros com maior índices de furtos ou assaltos em Natal/RN. </h6>
      <div>
        <input name="BtnLogin" class="largeButton1" onfocus="this.value=''" value="Informe o Login">
        <input name="BtnCadastro" class="largeButton2" onfocus="this.value=''" value="Informe a Senha">
        <button class="btLogin" routerLink='/cadastroOcorrancia'>Login</button>
        <button class="btCadastro" routerLink='/cadastro'>Cadastrar</button>
      </div>
  </div>
</body>
